
h1 {
    color:lightskyblue;
    text-align: center;
}
h2 {
    color: lightskyblue;
    text-align: center;
}
body {
    background: url(images/starrysky.gif);
    font-size:20px;
    font-family: Helvetica, Impact, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow:1px;
}
#mainBody {
    margin:auto;
    background: rgba(0, 0, 0, 0.5);
    
}

#inClassList {
    justify-content: center;
    align-items: center;
}

#inClassList a {
    text-decoration: none;
    text-decoration-style: none;
    font-size:20px;
    color:lightblue;

}
#inClassList a:hover {
    text-decoration: underline;
    color: red;
}
.assignment-holder {
    text-align: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.212);
}

.assignment-holder .assignment {
    background-color: rgba(135, 206, 250, 0.308);
    margin: auto;
}

.assignment h3 a {
    text-decoration-style: none;
    text-decoration: none;
    color: white;
}

.assignment a:hover {
    color:skyblue;
}

@media(min-width: 900px) {
    .assignment-holder {
        display: flex;
        justify-content: space-evenly;
        margin: 15px;
        padding: 10px;
    }

    .assignment {
        justify-content: space-evenly;
        flex: 1/4;
        display: inline-block;
        padding: 10px 10px;
        margin:0 5px;
    }

    .list #inClassList{
        text-align: center;
        list-style-position: inside;
    }
}