
h1 {
    color:lightskyblue;
    text-align: center;
}
h2 {
    color: lightskyblue;
    text-align: center;
}
body {
    background: url(images/starrysky.gif);
    font-size:20px;
    font-family: Helvetica, Impact, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow:1px;
}
#mainBody {
    margin:auto;
    background: rgba(0, 0, 0, 0.5);
    
}

#inClassList a, #assignmentList a {
    
    text-decoration: none;
    text-decoration-style: none;
    font-size:20px;
    color:lightblue;
}
#inClassList a:hover, #assignmentList a:hover {
    text-decoration: underline;
    color: red;
}