body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

#main-content {
    background: black;
    text-align: center;
}

#breweries {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.brewery {
    color: black;
    width:30%;
    background: white;
    border-radius: 5px;
    border:  solid 5px;
    margin:10px;
}