body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(92, 92, 92);
}
#boxer-div {
    background: rgb(92, 92, 92);
    padding: 10px;
    margin: 10px;
}
.boxer {
    padding: 10px;
    margin: 10px;
    background: black;
    border-radius: 8px;
    color: white;
    text-align: center;

}

.wrapper {
    display: flex;

}
.info {
    padding: 10px;
    margin: 10px;
    text-align: left;
}
img {
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    max-height: 350px;
}